<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="text-center">
        <div class="card">
          <% if !user_signed_in? %> <!-- if user is not logged-in -->
            <h1>Welcome To GitCat</h1>
            <h3>Your GitHub Search Engine</h3>
            <%= link_to new_user_session_path do %>
                <div class="btn-signup btn-success">Login</div>
            <% end %>
            <%= link_to new_user_registration_path do %>
                <h5>New cat on the block ? Sign up here !</h5>
            <% end %>
        </div>

        <% else %>
        <div class="card">
           <!-- if user is logged-in -->
          <h5>Welcome <%= "#{current_user.email}" %></h5>

          <h5>Search a github user by name</h5>
          <div class="userName"></div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>



